html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: black;
    background-image: url("../images/beach.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#game-container, #start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hoz-center {
    transform: translate(-50%, -50%);
    left: 50%;
}

#menu-container {
    position: absolute;
    height: 5%;
    width: 0%;
    top: 50%;
    background-color: beige;
}

#menu-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 5px grey inset;
}

#menu-border img {
    position: absolute;
    border-radius: 1.77vh;
}

#border-top {
    top: -10%;
    left: -5%; 
}
#border-bottom {
    bottom: -10%;
    left: -5%; 
}

#menu-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5% 15%;
    left: 0;
    top: 0;
    opacity: 0;
    box-sizing: border-box;
    text-align: center;
    color: #804042;
}

#menu-content p {
    font-size: 1.5em;
}

#menu-content button {
    padding: 1% 8%;
    font-size: 3.25vh;
    color: white;
    background-color: #804042;
    border: none;
    box-shadow: 0 0 0 0.59vh #9c6466 inset;
    border-radius: 1.18vh;
}

#game-container {
    visibility: hidden;
}

#topbar {
    position: absolute;
    width: 80%;
    -webkit-filter: drop-shadow(3.5px 5px 0 #804042)             
                    drop-shadow(-5px 0px 0 #804042);
    filter: drop-shadow(3.5px 5px 0 #804042)                           
            drop-shadow(-5px 0px 0 #804042);
    border-radius: 1.77vh;
}

#topbar-text {
    position: absolute;
    width: 80%;
    padding-top: 5px;
    color: white;
    font-size: 3.65vw;
    z-index: 5;
}

#topbar, #topbar-text {
    top: 1%;
    left: 10%;
}

#level {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
}

#shell-container {
    position: absolute;
    height: 13%;
    width: 60%;
    top: 82%;
}

.shell {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.shell[data-dir="bottom"] {
    z-index: 5;
}

.shell[data-pos="center"] {
    z-index: 3;
}

.active .shell:hover {
    cursor: pointer;
}

#pearl {
    position: absolute;
    visibility: hidden;
    width: 5vh;
    height: 5vh;
    background: radial-gradient(circle at top left, white, pink, hotpink);
    border-radius: 50%;
    z-index: 0;
}

#warning-message {
    position: absolute; 
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
    text-align: center;
    font-size: 4vh;
    color: white;
    background-color: black; 
    z-index: 100;
}

#warning-message img {
    filter: brightness(10);
}

#warning-message h1 {
    margin: 0;
}

@media only screen and (orientation:portrait){
    #game-container {
        visibility: hidden;
    }
    #warning-message {
        display:block;
    }
}